{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <h1 class='text-center'>Django ajax Crud</h1>
        <div class="row">
            <div class="col-6 col-md-4">
                <h3>Django Form</h3>
                <form action='' id='formsubmit'>
                    <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name='name' placeholder='name' class="form-control" id="name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email"  name='email' placeholder='email' class="form-control" id="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" name='phone' placeholder='phone' class="form-control" id="phone" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" name='address' class="form-control" placeholder='address' id="address">
                    </div>
                   
                    
                    <button type="submit"  class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-6 col-md-8">
                <h3 class="p-4">Django Form Data in table</h3>
                <table class="table" id='usertabledata'>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address</th>
                
                    </tr>
                    </thead>
                    <tbody>
                    {% if userdata %} 
                        {% for user in userdata %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.address}}</td>
                                <td><button type="button" class="btn btn-primary" onclick="userdata_edit({{user.id}})" data-toggle="modal" data-target="#exampleModal">
                                    update
                                 </button></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action='' id='formsubmit'>
                                    <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" name='name' placeholder='name' class="form-control" id="name" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email"  name='email' placeholder='email' class="form-control" id="email" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                    </div>
                                    <div class="mb-3">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input type="text" name='phone' placeholder='phone' class="form-control" id="phone" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" name='address' class="form-control" placeholder='address' id="address">
                                    </div>
                                   
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script>
        $('#formsubmit').submit(function(){

            let user_name = $('input[name="name"]').val().trim();
            let user_email = $('input[name="email"]').val().trim();
            let user_phone = $('input[name="phone"]').val().trim();
            let user_address = $('input[name="address"]').val().trim();

            if (user_name && user_email && user_phone && user_address){
                $.ajax({
                    url: '/create/',
                    data: {
                        'name':user_name,
                        'email': user_email,
                        'phone':user_phone,
                        'address': user_address
                    },
                    dataType: 'json',
                    success: function(data){
                        console.log(data)
                        $('#formsubmit').trigger('reset');
                        if (data) {
                            UserObjectShowing(data)
                        }   
                    }
                })
            }
            else{
                alert('please fillup all the field.')
            }
            
            return false;
        })
        function UserObjectShowing(userdata){
            $("#usertabledata>tbody:last-child").append(
                `<tr>
                    <th scope="row">${userdata.id}</th>
                    <td>${userdata.name}</td>
                    <td>${userdata.email}</td>
                    <td>${userdata.phone}</td>
                    <td>${userdata.address}</td>
                </tr>`
            )
        }
        function userdata_edit(id){
            console.log(id)
        }
    </script>
 <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>  -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>
